@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://use.typekit.net/icu7lvy.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root{
    --main--color: #BADC58;
    --secondary--color: #1D164D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

.section{
    height: 100vh;
    width: 100%;
}

#background-img{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    max-width: 60%;
    min-width: 60%;
    height: 99%;
    object-fit: cover;
    z-index: -10;

    
} 
#header{
    height: 10%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin: 0px 10px;
    padding: 12px 25px;
    font-family: 'muli', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
}

li a{
    color: #fff;
    text-decoration: none;
}

li a:hover{
   border-bottom: 2px rgb(255, 255, 255) solid;
}

#checkbtn{
    font-size: 2.6rem;
    color: rgb(30, 51, 42);
    float: right;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

#nav h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: var(--main--color);
}

#btn-register{
    background-color: white;
    color: var(--main--color);
    border-radius: 4px;
    padding: 1rem 2.5rem;
}

#container-search{
    position: relative;
    top: 35%;
    color: #fff;
    left: 10%;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#container-search h2{
    font-size: 5rem;
    color: var(--secondary--color);
    letter-spacing: 2px;
    font-family:'Montserrat', sans-serif;
    outline: none;
}


#container-search div{
display: flex;
justify-content: space-between;
height: 6rem;
margin-top: 1rem;
}

#input-search{
    width: 85%;
    height: 100%;
    outline: none;
    font-family: 'muli', sans-serif;
    font-size: 1.4rem;
    border: 1px #B4B4B4 solid;
    border-radius: 5px;
    padding: 0 15px ;
}

#input-search::placeholder{
    font-size: 1.6rem;
    font-family: 'muli', sans-serif;;
    color: #B4B4B4;
}

#btn-search-recipe{
    width: 12%;
    border-radius: 5px;
    background-color: var(--main--color);
    color: #fff;
    border: none;
    background-image: url(../assets/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}

#services{
   display: flex;
   align-items: center;
}

#recipes-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#recipes-text{
    width: 60%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipes-group{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
    justify-content: space-between;
    column-gap: 30px;
}
.recipe{
    width: 100%;
    height: 90%;
    display: flex;
    border-radius: 7px;
    box-shadow: 5px 5px 15px 0px #d6d6d6;
}

#text-best{
    font-size: 3.2rem;
    color: var(--secondary--color);
    letter-spacing: 2px;
    font-family:'Montserrat', sans-serif;
    outline: none;
    margin-bottom: 10px;
}

.paragraph{
    color: #B4B4B4;
    font-size: 1.8rem;
    font-family:'Montserrat', sans-serif;
    line-height: 2rem;
    letter-spacing: .1rem;
}


.img-recipe-container{
width: 50%;
}

.info-recipe-group{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-mobile2{
    display: none;
}


.image-recipe{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
}

.info-recipe{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    width: 75%;
}

.name-recipe{
    font-size: 2.5rem;
    color: var(--secondary--color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn-recipe{
    padding: 1.5rem 3rem;
    border: none;
    background-color: var(--main--color);
    color: #fff;
    border-radius: 5px;
    font-family: 'muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.image-back{
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 100%;
}

.info{
    width: 35%; 
}

#service-subtitle{
    color: var(--secondary--color);
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#group-paragraphs{
    margin-top: 9%;
}

#btn-service{
    margin-top: 10%;
    padding: 1.8rem 2.5rem;
    background-color: var(--main--color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 3px 2px 10px 0px #d6d6d6;
    font-size: 1.3rem;
}

.image-container{
    width: 60%;
}

#blogs{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#blog-group{
    display: flex;
    gap: 2.5%;
    width: 115%;
    left: 10%;
    height: 55%;
    z-index: -1;
    margin-top: 1%;
    margin-left: 10%;
}

.blog-card{
    height: 100%;
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 0px #d6d6d6;
    border-radius: 0px 0px 5px 5px;
 
}

.title-blog{
    font-size: 2rem;
    font-family: 'Montserrat' sans-serif;
    color: var(--secondary--color);
}

.image-blog-group{
    height: 55%;
  
}

#btn-slider-next{
    background-color: rgba(255, 255, 255, 0.863);
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 92%;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    margin-top: 6rem;
}

.image-blog{
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#info-author-group{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

#image-blog{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 20%;
    border-radius: 100%;
}


.info-blog-card{
    padding: 0px 15px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.photo-author{
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

#text-blog{
    width: 50%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}



#footer{
    width: 100%;
    height: 10vh;
    text-align: center;
}

#footer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

figure{
    width: 50%;
}

#join-sec{
    height: 90vh;
}

#join{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#footer-list a{
    color: #B4B4B4;
    font-size: 1.2rem;
}

#footer-bar{
    font-size: 1.2rem;
}

#join-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-group{
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10%;

}

#image-finalblock{
    float: right;
    height: 100%;
}

#input-membership{
    width: 30rem;
    border-radius: 5px;
    outline: none;
    border: 1px #B4B4B4 solid;
    height: 4rem;
    padding: 0 15px;
    margin-right: 15px;

}

#input-membership::placeholder{
    color: #B4B4B4;
    font-size: 1.3rem;
}

#text-join{
    font-size: 4rem;
    color: var(--secondary--color);
}

p{
    color: #9E9BAF;
}
h4{
    color: var(--secondary--color);
}

#text-join-group{
    width: 80%;
}
.image-mobile{
    display: none;
}



@media screen and (max-width: 1920px) {
    html{font-size: 90%;}
    
}
@media screen and (max-width: 1660px) {
    html{
        font-size: 80%;
    }

}
@media screen and (max-width: 1440px) {
    #container-search, #join-group{
        justify-content: center;
    }
    html{
        font-size: 65%;
    }

}
@media (max-width: 1025px) { 
  
    #join-group-input{
        display: flex; 
        flex-direction: column; 
        align-items: flex-start;
        margin-top: 1rem;
    }

    ul li{
        font-size: 1rem;
    }

    #container-Search h2{
        font-size: 2rem;
    }

    #input-membership{
        height: 6rem;
    }
    
    .title-blog{
        font-size: 2.2rem;
    }

    .paragraph{
        font-size: 1.5rem;
    }
  
}
@media screen and (max-width: 885px) { 
    html{
        font-size: 38%;
    }
}

/*Configuração Mobile - Portrait */
@media screen and (max-width: 769px) { 
    html{
        font-size: 60%;
    }

    #nav, #footer-bar, #recipes-container{
        width: 95%;
    }
    #background-img, #image-finalblock, .image-back, #btn-slider-next{
        display: none;
    }

    #home{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }


    #background{
        margin: 0 auto;
        width: 100%;
    }


    #container-search{
      width: 90%;
      top: 0;
      left: 0;
      height: auto;
      margin-top: 2rem;
      text-align: center;
    }

    #container-search h2{
        font-size: 5rem;
    }

   .image-mobile{
       display: block;
       background-position: center;
       background-size: cover;
       height: auto;
       width: 40%;
       margin: 0 auto;

   }

   #recipes-text{
       width: 80%;
   }
   #recipes-group{
        column-gap: 0;
       place-items:center;
       align-content: center;

   }

   .img-recipe-container{
       width: 100%;
       height: 60%
   }

    .image-recipe{
       width: 100%;
       border-radius: 5px 5px 0 0;
    }
    .info-recipe-group{
        width: 100%;
        height: 100%;
    }
    .info-recipe{
        justify-content: center;
        width: 95%;
        height: 100%;
    }
    .btn-recipe{
        font-size: 1.5rem;
    }

   .recipe{
       width: 74%;
       height: 80%;
       flex-direction: column;
   }
   
    #nav{
        width: 95%;
        justify-content: space-between;
    }

    #nav h1{
        margin-left: 15px;
        font-size: 3.5rem;
    }

    #checkbtn{
        display: block;
        margin-right: 15px;
        font-size: 3.5rem;
    }

    ul{
        position: absolute;
        width: 100%;
        height: 90vh;
        background-color: #bbdc58f6;
        top:100%;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: block;
        z-index: 1;
     }

     ul li{
         margin-top: 3rem;
         font-size: 2rem;
     }

   #btn-register{
       margin: 0 auto;
       width: fit-content;
       padding: 13px 20px;
       margin-top: 3rem;
   }

   #services{
       align-items: center;
       justify-content: start;
       flex-direction: column;
   }

   .image-mobile2{
       display: block;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 90%;
    margin-top: 3rem;
    margin-left: 2rem;
   }

   .info{
       height: 50%;
       width: 85%;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   #check:checked ~ ul {
       left: 0;
   }

   

   #nav{
       flex-direction: row-reverse;
   }

    #blog-group{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
    
    }

    .blog-card{
        width: 90%;
        height:95%;
    }

    .title-blog{
        font-size: 2.3rem;
    }

   #text-blog{
    width: 80%;
    height: auto;
   }

   #join{
       flex-direction:column-reverse;
       justify-content: flex-end;
   }

   #join-container{
       width: 90%;
   }
   #input-membership{
       width: 100%;
   }

   #join-group-input{
       width: 80%;
       align-items: center;
   }

   #join-group{
       width: 100%;
       height: auto;
       text-align: center;
       align-items: center;
   }
   figure{
       margin: 0 auto;
   };
}
@media screen and (max-width: 601px) {
    html{
        font-size: 48%;
    }
    .photo-author{
        width: 10%;
    }
}
@media screen and (max-width: 426px){
    html{
        font-size: 39%;
    }
   
    #blog-group{
        display: flex;
        flex-direction: column;
        gap: 1%;
        width: 90%;
        height: 90%;
        left: 0;
        margin-top: 1.3rem;
    
    }
    #text-blog{
        position: relative;
        top: 0;
        width: 92%;
    }

    .blog-card{
        height: 24%;
        width: 100%;
    
    }
    

    #blogs{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .recipe{
        width: 85%;
    }

    .photo-author{
        width: 9%;
    }

    #join{
        margin-top: 10rem;
    }

    .title-blog{
        position: absolute;
        margin-top: -90px;
        color: rgb(255, 255, 255);
        font-weight:bolder;
        font-size:2.2rem;
        text-shadow: #000000 1px 1px;
        
    }
    .image-blog-group{
        height: 65%;
    }
    #text-join-group{
        width: 100%;
        margin-bottom: 1rem;
    }
    #join-group-input button{
        margin-top: 2rem;
    }
    #input-membership{
        margin-right:0;
    }
}
@media screen and (max-width: 320px) {
        html{
            font-size: 32%;
        }
}
@media screen and (max-width: 250px) {
    html{
        font-size: 21%;
    }

    .title-blog{
        margin-top: -40px;
    }
}

/*Configuração Mobile - Landscape */
@media (max-width: 800px) and (orientation: landscape)  {
    html
    {
     font-size: 40%;
    }
    .image-mobile{
        width: 24%;
    }
    .image-mobile2{
        width: 55%;
        margin: 0 auto;
    }
    figure{
        margin-top: 2rem;
    }
    #services{
        flex-direction: row;
    }
    .image-container{
        width: 55%;
       
    }

    .info{
        width: 37%;
        
    }
    .paragraph{
        font-size: 1.4rem;
    }

    .title-blog{
        position: absolute;
        margin-top: -75px;
        color: rgb(255, 255, 255);
        font-weight:bolder;
        font-size:1.8rem;
        text-shadow: #000000 1px 1px;
        
    }

    #blog-group{
        width: 90%;
        margin: 0 auto;
        justify-items: center;
        margin-top: 4rem;
    }

    .image-blog-group{
        height: 65%;
    }



    .photo-author{
        width: 10%;
    }

    .blog-card{
        height: 74%;
        align-self: baseline;
    }
    .recipe{
        width:70%;
        height: 73%;
        align-self:baseline;

    }
    #recipes-container{
        width: 100%;
    }
    #recipes-group{
     margin-top: 2rem;
    }

    .btn-recipe{
        height: auto;
        padding: 6px 20px;
    }
    
}

@media (max-width: 685px) and (orientation: landscape)  {
    html
    {
     font-size: 32%;
    }
    .image-mobile{
        width: 20%;
    }
    .image-mobile2{
        width: 40%;
    }
    figure{
        margin-top: 6rem;
    }  
}